<h1>Editing training run</h1>

<%= render "form", training_run: @training_run %>



<div>
  <%= link_to "Show this training run", @training_run %> |
  <%= link_to "Back to training runs", training_runs_path %>
</div>
