<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>

<%=
require 'net/http'
require 'uri'

uri = URI.parse("https://www.strava.com/api/v3/athlete")
request = Net::HTTP::Get.new(uri)
request["Authorization"] = "Bearer f64f628341c3935cc42d94785116bc1ad6fefcba"

req_options = {
  use_ssl: uri.scheme == "https",
}

response = Net::HTTP.start(uri.hostname, uri.port, req_options) do |http|
  http.request(request)
end

#response.code
response.body
%>

<%=
require 'net/http'
require 'uri'

uri = URI.parse("https://www.strava.com/api/v3/athletes/6445305/stats")
request = Net::HTTP::Get.new(uri)
request["Authorization"] = "Bearer f64f628341c3935cc42d94785116bc1ad6fefcba"

req_options = {
   use_ssl: uri.scheme == "https",
 }

response = Net::HTTP.start(uri.hostname, uri.port, req_options) do |http|
   http.request(request)
end

response.code
 response.body
%>

<%=
require 'net/http'
require 'uri'

uri = URI.parse("https://www.strava.com/api/v3/athlete/activities?before=1664268466&after=1661990400&page=1&per_page=30")
request = Net::HTTP::Get.new(uri)
request["Authorization"] = "Bearer d764488054d76114acce7eec6792384a890cd0aa"

req_options = {
   use_ssl: uri.scheme == "https",
 }

response = Net::HTTP.start(uri.hostname, uri.port, req_options) do |http|
   http.request(request)
end

response.code
 response.body
%>


