<h2>Beretor stats</h2>
<p>
  Today we are <%= Time.now %>, it has been time <%= Time.now %> since your last ride
</p>

<%=
require 'net/http'
require 'uri'

uri = URI.parse("https://www.strava.com/api/v3/athlete")
request = Net::HTTP::Get.new(uri)
request["Authorization"] = "Bearer a213ffc7003946159d9eb43ce645de1ae4a7d08b"

req_options = {
  use_ssl: uri.scheme == "https",
}

response = Net::HTTP.start(uri.hostname, uri.port, req_options) do |http|
  http.request(request)
end

#response.code
response.body
%>

<%=
require 'net/http'
require 'uri'

uri = URI.parse("https://www.strava.com/api/v3/athlete/activities?before=1664268466&after=1661990400&page=1&per_page=30")
request = Net::HTTP::Get.new(uri)
request["Authorization"] = "Bearer a213ffc7003946159d9eb43ce645de1ae4a7d08b"

req_options = {
   use_ssl: uri.scheme == "https",
 }

response = Net::HTTP.start(uri.hostname, uri.port, req_options) do |http|
   http.request(request)
end

response.code
response.body
%>


