<div class="container-fluid">

<div id="<%= dom_id ride %>">
  <p>
    <strong>Ride name:</strong>
    <%= ride.ride_name %>
  </p>

  <p>
    <strong>Ride length:</strong>
    <%= ride.ride_length %>
  </p>

  <p>
    <strong>Ride date:</strong>
    <%= ride.ride_date %>
  </p>

</div>
</div>