<nav class="navbar navbar-expand-lg bg-light">
<div class="container">
    <span id="boot-icon" class="bi bi-strava" style="font-size: 2rem; color: rgb(237, 95, 30);"></span>
     <%= link_to "Beretor Strava", root_path, class: 'strava-title' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Add a ride", new_ride_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Rides
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
           
           <%= link_to "All Rides", rides_path, class: "nav-link" %>
      
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">View total stats</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to "Training Plan", asset_path("running-addict-plan-entrainement-semi-marathon-5xsemaine.pdf"), class: "nav-link" %>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>
</nav>
<div class="container">